@font-face {
    font-family: 'iconfont';
    /* project id 2289209 */
    src: url('http://at.alicdn.com/t/font_2289209_k45eprt6cm.eot');
    src: url('http://at.alicdn.com/t/font_2289209_k45eprt6cm.eot?#iefix') format('embedded-opentype'),
        url('http://at.alicdn.com/t/font_2289209_k45eprt6cm.woff2') format('woff2'),
        url('http://at.alicdn.com/t/font_2289209_k45eprt6cm.woff') format('woff'),
        url('http://at.alicdn.com/t/font_2289209_k45eprt6cm.ttf') format('truetype'),
        url('http://at.alicdn.com/t/font_2289209_k45eprt6cm.svg#iconfont') format('svg');
}

.imocl-pageWraper li {
    list-style: none;
}

.imocl-pageWraper {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%
}

.imocl-pageItems {
    position: absolute;
    left: 0;
}


.imocl-pageItem {
    float: left;
}

.imocl-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-family: "iconfont";
    text-align: center;
    display: inline-block;
    color: #fff;
    background-color: rgba(0, 0, 0, .15);
    cursor: pointer;
    user-select: none;
}

.imocl-btn:hover {
    background-color: rgba(0, 0, 0, .45);
}

.imocl-leftBtn {
    left: 0;
    border-top-right-radius: 18px;
    border-bottom-right-radius: 18px;
}

.imocl-rightBtn {
    right: 0;
    border-top-left-radius: 18px;
    border-bottom-left-radius: 18px;
}

.imocl-icon {
    font-size: 12px;
    font-weight: bold;
    position: absolute;
    display: inline-block;
    width: 18px;
    font-family: iconfont;
    font-style: normal;
}

.imocl-rightBtn .imocl-icon {
    right: 0;
}

.imocl-leftBtn .imocl-icon {
    left: 0;
}

.imocl-spotWraper {
    position: absolute;
    bottom: 20px;
}

.imocl-spot {
    display: inline-block;
    border-radius: 50%;
    background-color: rgba(7, 17, 27, 0.4);
    margin-left: 8px;
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.8) inset;
    cursor: pointer;
}

.imocl-spotActive {
    background-color: #fff !important;
    box-shadow: 0 0 0 2px rgba(7, 17, 27, 0.4) inset !important;
}